body {
    background-color: lawngreen;
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;  
    align-content: center;
    @font-face {
        font-family: myFirstFont;
         src: url(Westpart-pmlO.otf);
        font-weight: bold;
    }
}
