body {
    background-color: lawngreen;
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;  
}

header{
    text-align: center;
}

.navigation {
  background-color: white;
  color: black;
  width: 150px;
}

aside{
  background-color: black;
  color: white;
}

ul {
    list-style-type: none;
}

footer{
    background-color: pink;
}
