body {
    background-color: lawngreen;
    cursor: crosshair;
    margin-left: auto;
    margin-right: auto;  
    @font-face {
        font-family: myFirstFont;
         src: url(Westpart-pmlO.otf);
        font-weight: bold;
    }
    
    h1 {
  font-family: myFirstFont;
    }
}
